
.ftco-section{
  max-width: 100%;
  margin: 25px;
}

#map{
    border: 1px solid rgb(192, 186, 186);
    display: flex;
    max-width: 100%;
    margin: 17px;
}
    .label{
        font-size: 20px;
    }
    
    ::placeholder{
        font-size: 15px;
    }
    .icon{
       font-size: 40px;
       margin-top: 20px;
    }
    
    #icon{
        color: blue !important;
    }




    @media (min-width: 576px) {
      .container {
        max-width: 540px; }

        .iconn{
          justify-content: center;
          height: fit-content !important;
          border-radius: 50%;

        }

    }

    @media (min-width: 768px) {
      .container {
        max-width: 720px; } 
    }

    @media (min-width: 992px) {
      .container {
        max-width: 960px; } 
    }

    @media (min-width: 1200px) {
      .container {
        max-width: 1140px; }
     }

     /* custom section */

   #custom-section{
    max-width: 100%;
    height: auto;
    margin: 0px 35px;
    }

    .form-controll{
      box-shadow: 2px 2px 2px 2px rgb(136, 186, 243);
    }
  
  
   .items{
    display: flex;
    border: 1px solid rgb(255, 0, 21);
    height: auto !important;
    
   }

   .iconn{
    border-radius:60%;
    border: 1px solid rgb(160, 137, 137);

    /* height: fit-content !important;
    justify-content: center; */
    
    /* width: 60px; */
   }

   /* application form */
   /* .form-group {
    border: 1px solid red;
    margin: 5px;
   }
  .form-control {
    border: 1px solid red !important;
    box-shadow: 12px 12px 0px 0px ;
  }

   #form-horizontal {
    border: 1px solid red;
    margin: 20px !important;
   } */ */