
.ftco-section{
  max-width: 100%;
  margin: 25px;
}

#map{
    border: 1px solid rgb(192, 186, 186);
    display: flex;
    max-width: 100%;
    margin: 17px;
}
    .label{
        font-size: 20px;
    }
    
    ::placeholder{
        font-size: 15px;
    }
    .icon{
       font-size: 40px;
       margin-top: 20px;
    }
    
    #icon{
        color: blue !important;
    }




    @media (min-width: 576px) {
      .container {
        max-width: 540px; }
      
    }

    @media (min-width: 768px) {
      .container {
        max-width: 720px; } 
    }

    @media (min-width: 992px) {
      .container {
        max-width: 960px; } 
    }

    @media (min-width: 1200px) {
      .container {
        max-width: 1140px; }
     }

     /* new section */

     #new section{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      max-width: 100%;
      height: 500px;
      margin: 25px;
      border: 1px solid red;
     }
  

